{% extends 'form/_base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>
            In order to continue, please enter your Reddit username and the subreddit you are banned from
        </h4>

        <div class="validation-errors">
            {{ form.non_field_errors }}
        </div>

        <div class="form-group">
            <label for="id_reddit_username">{{ form.reddit_username.label }}:</label>
            {{ form.reddit_username }}
            <div class="validation-errors">
                {{ form.reddit_username.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="id_subreddit">{{ form.subreddit.label }}:</label>
            {{ form.subreddit }}
            <div class="validation-errors">
                {{ form.subreddit.errors }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary submit">Continue</button>
    </form>
{% endblock %}
