html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FCFCFC 80%, rgba(108, 192, 254, 0.6) 100%);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
    background: linear-gradient(to bottom, rgba(108, 192, 254, 0.6), #FCFCFC);
    z-index: -1;
}

.header {
    white-space: nowrap;
    margin-top: 88px;
    margin-left: 65px;
}

.header a {
    text-decoration: none;
}

.header_menu {
    margin-left: auto;
    margin-right: 65px;
    height: 50px;
    font-size: 24px;
}

h1 {
    font-size: 52px;
    font-family: 'Inter', sans-serif;
}

h4 {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_header {
    max-width: 1000px;
    margin: 0 auto;      /* centers the div horizontally */
    text-align: center;  /* centers the text inside the div */
}

.signup_button {
    color: white;
    background-color: #333;
}

.signup_below {
    margin-top: 30px;
    font-size: 20px;
}

.faq-table tr {
    border: 2px solid black;
}

.collapsible {
    background-color: white;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
    position: relative;
    display: flex;
}

.arrow-down {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.active,
.collapsible:hover {
    background-color: rgba(108, 192, 254, 0.2);
}

.faq-caption {
    padding-left: 25px;
    flex: 1;
}

.faq-table .content {
    padding-left: 43px;
    font-size: 20px;
    color: #333333;
}

.block-info-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.block-info-1-text {
    flex: 1 1 300px;
    padding-top: 15px;
    margin-right: 15px;
}

.block-info-1-images {
    flex: 1 1 300px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .block-info-1-images {
        display: block;
        text-align: center;
    }

    .info-logo {
        display: block;
    }
}

.block-info-2 {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    border-radius: 20px;
    border: 5px solid #6CC0FE;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
}

.pos-absolute {
    position: absolute;
}

.images {
    position: relative;
}

.img-emoji-group-2 {
    z-index: -1;
}

.img-emoji-group-1 {
    z-index: -1;
}

.img-banned {
    z-index: -1;
}

.img-funnel {
    z-index: -1;
}

.div-appeal-mod-form {
    padding: 15px;

    font-size: 20px;
    font-weight: 700;
    color: #333333;
    background-color: white;
    border-radius: 15px;
}

.div-appeal-mod-form::before {
    content: '';
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    background: linear-gradient(to bottom, #0D99FF, #01FF85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: -1;
    border-radius: 20px;
}

.img-appeal-mod-black {
    margin-left: 10px;
    width: 50px;
}

.img-red-arrow {
    z-index: -1;
}

.img-green-arrow {
    z-index: -1;
}

.div-genuine-fill-it-out {
    padding: 15px;

    font-size: 20px;
    font-weight: 700;
    color: #4BD090;
    background-color: white;

    border-radius: 20px;
    border: 5px solid #4BD090;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.div-ragers-dont-bother {
    padding: 15px;

    font-size: 20px;
    font-weight: 700;
    color: #FF0000;
    background-color: white;

    border-radius: 20px;
    border: 5px solid #FF0000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.div-who-complete-form {
    padding: 15px;

    font-size: 20px;
    font-weight: 700;
    color: #4BD090;
    background-color: white;

    border-radius: 20px;
    border: 5px solid #4BD090;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 900px) {
    .images {
        width: 800px;
        height: 1350px;
        padding-top: 50px;
        /* top 850  left 200 */
    }

    .img-emoji-group-2 {
        top: 20px;
        left: 150px;
        width: 500px;
    }

    .img-emoji-group-1 {
        top: 0;
        left: 220px;
        width: 350px;
    }

    .img-banned {
        top: 100px;
        left: 300px;
        width: 200px;
    }

    .img-funnel {
        top: 170px;
        left: 100px;
        width: 600px;
    }

    .div-appeal-mod-form {
        top: 550px;
        left: 225px;
        width: 350px;
        padding: 15px;

        font-size: 20px;
    }

    .img-form-icon {
        width: 50px;
    }

    .img-appeal-mod-black {
        margin-left: 10px;
        width: 50px;
    }

    .img-red-arrow {
        top: 585px;
        left: 570px;
        width: 175px;
    }

    .img-green-arrow {
        top: 600px;
        left: 373px;
        width: 60px;
    }

    .div-genuine-fill-it-out {
        top: 715px;
        left: 277px;
        width: 250px;
        padding: 15px;

        font-size: 20px;
    }

    .img-genuine-fill-it-out {
        width: 200px;
    }

    .div-ragers-dont-bother {
        top: 715px;
        left: 580px;
        width: 270px;
        padding: 15px;

        font-size: 20px;
    }

    .img-ragers-dont-bother {
        width: 200px;
    }

    .div-who-complete-form {
        top: 1095px;
        left: 240px;
        width: 325px;
        padding: 15px;

        font-size: 20px;
    }

    .img-who-complete-form {
        width: 100px;
    }
}

@media (max-width: 900px) {
    .images {
        width: 600px;
        height: 1070px;
        padding-top: 50px;
        /* top 850  left 200 */
    }

    .img-emoji-group-2 {
        top: 20px;
        left: 20px;
        width: 365px;
    }

    .img-emoji-group-1 {
        top: 0;
        left: 65px;
        width: 280px;
    }

    .img-banned {
        top: 80px;
        left: 120px;
        width: 170px;
    }

    .img-funnel {
        top: 140px;
        left: 0;
        width: 400px;
    }

    .div-appeal-mod-form {
        top: 390px;
        left: 60px;
        width: 280px;
        padding: 15px;

        font-size: 16px;
    }

    .img-form-icon {
        width: 35px;
    }

    .img-appeal-mod-black {
        margin-left: 10px;
        width: 40px;
    }

    .img-red-arrow {
        top: 420px;
        left: 320px;
        width: 140px;
    }

    .img-green-arrow {
        top: 460px;
        left: 180px;
        width: 48px;
    }

    .div-genuine-fill-it-out {
        top: 525px;
        left: 90px;
        width: 220px;
        padding: 15px;

        font-size: 16px;
    }

    .img-genuine-fill-it-out {
        width: 170px;
    }

    .div-ragers-dont-bother {
        top: 525px;
        left: 320px;
        width: 240px;
        padding: 15px;

        font-size: 16px;
    }

    .img-ragers-dont-bother {
        width: 170px;
    }

    .div-who-complete-form {
        top: 855px;
        left: 60px;
        width: 290px;
        padding: 15px;

        font-size: 16px;
    }

    .img-who-complete-form {
        width: 70px;
    }
}

@media (max-width: 600px) {
    .images {
        width: 350px;
        height: 780px;
        padding-top: 50px;
        /* top 850  left 200 */
    }

    .img-emoji-group-2 {
        top: 20px;
        left: 10px;
        width: 235px;
    }

    .img-emoji-group-1 {
        top: 0;
        left: 30px;
        width: 200px;
    }

    .img-banned {
        top: 60px;
        left: 70px;
        width: 120px;
    }

    .img-funnel {
        top: 110px;
        left: 0;
        width: 250px;
    }

    .div-appeal-mod-form {
        top: 280px;
        left: 15px;
        width: 220px;
        padding: 15px;

        font-size: 13px;
    }

    .img-form-icon {
        width: 25px;
    }

    .img-appeal-mod-black {
        margin-left: 10px;
        width: 30px;
    }

    .img-red-arrow {
        top: 300px;
        left: 215px;
        width: 90px;
    }

    .img-green-arrow {
        top: 340px;
        left: 110px;
        width: 32px;
    }

    .div-genuine-fill-it-out {
        top: 360px;
        left: 45px;
        width: 160px;
        padding: 15px;

        font-size: 13px;
    }

    .img-genuine-fill-it-out {
        width: 120px;
    }

    .div-ragers-dont-bother {
        top: 365px;
        left: 215px;
        width: 150px;
        padding: 10px;

        font-size: 13px;
    }

    .img-ragers-dont-bother {
        width: 120px;
    }

    .div-who-complete-form {
        top: 602px;
        left: 15px;
        width: 220px;
        padding: 15px;

        font-size: 13px;
    }

    .img-who-complete-form {
        width: 50px;
    }
}

.block-info-3 {
    background-color: rgba(108, 192, 254, 0.4);
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 10px 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-info-3-text {
    max-width: 725px;
}

.logo-info-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-header {
    font-size: 24px;
    font-weight: 700;
}

.signup-header {
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
}

.signup-text {
    font-size: 22px;
    color: #333333;
}

.signup-form {
    margin-top: 30px;
    font-size: 20px;
}

.w3-input {
    border: 2px solid black;
}

.inline {
    display: inline;
}

.contain {
    display: flex;
}

.form-group > label {
    font-weight: 700;
}

.validation-errors {
    color: red;
    margin-top: 10px;
}

.validation-errors .errorlist {
    margin-bottom: 0;
}

.validation-errors li {
    list-style: none;
    margin-left: -40px;
}

.submit {
    margin-top: 15px;
}
