{% load static %}

<!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
<footer class="w3-container w3-center w3-margin-top block-info-3">
    <div class="block-info-3-text">
        <p id="About" class="sub-header">About Us</p>
        <p class="w3-medium">AppealMod was designed by researchers at the <a
                href="https://www.si.umich.edu/" target="_blank">University of
            Michigan School of
            Information</a> in collaboration with Reddit moderators. AppealMod is the result of an elaborate
            design process involving multiple moderators of different subreddits, as well as a real-world
            evaluation in r/pics over four months. Please read our
            <a href="https://arxiv.org/pdf/2301.07163.pdf" target="_blank">research paper</a> to learn more about
            AppealMod's design process.</p>
        <p class="w3-medium">
            This <a href="https://www.libbyh.com/moderation-research" target="_blank">research project</a>
            is funded by the
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1928434&HistoricalAwards=false" target="_blank">National Science Foundation</a>.<br/>
            The expansion of AppealMod on Reddit is supported by the
            <a href="https://csmr.umich.edu/" target="_blank">Center for Social Media Responsibility</a>.</p>
        <a href="https://www.nsf.gov/" target="_blank" class="fa w3-hover-opacity logo-info-image" title="National Science Foundation">
            <img src="{% static 'img/logo/logo_NSF.png' %}" height="79px" width="auto">
        </a>
        <a href="https://csmr.umich.edu/" target="_blank" class="fa w3-hover-opacity logo-info-image" title="master-science-information">
            <img src="{% static 'img/logo/logo_CSMR.png' %}" height="36px" width="auto" style="padding-left: 12px;">
        </a>
        <a href="https://www.si.umich.edu/" target="_blank" class="fa w3-hover-opacity logo-info-image" title="master-science-information">
            <img src="{% static 'img/logo/logo_UMSI.png' %}" height="68px" width="auto" style="padding-left: 16px;">
        </a>
    </div>

    <!-- End footer -->
</footer>
