<!-- FAQ section -->
<div class="w3-content" style="margin-top: 40px;">
    <div class="w3-row-padding" id="FAQs">
        <div class="w3-center">
            <p class="sub-header">Frequently Asked Questions</p>
        </div>

        <div class="w3-container w3-round w3-margin-bottom" style="margin: auto;">

            <table class="w3-table-all faq-table">
                <tr><td>
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            How do you identify which modmail messages constitute ban appeals?
                        </span>
                    </button>
                    <div class="content">
                        <p>
                            The first modmail message from a user after they’re
                            banned is automatically considered as their ban appeal,
                            same as how Reddit labels ban appeals within the modmail interface.
                        </p>
                    </div>
                </td></tr>
                <tr><td style="background-color: white;">
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            What happens if a user doesn’t complete the AppealMod form?
                        </span>
                    </button>
                    <div class="content">
                        <p>Their messages are archived and hidden from your modmail inbox.</p>
                    </div>
                </td></tr>
                <tr><td>
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            Can I still see which appeals were hidden?
                        </span>
                    </button>
                    <div class="content">
                        <p>
                            You can always find hidden appeals under the archived label in your modmail inbox.
                        </p>
                    </div>
                </td></tr>
                <tr><td style="background-color: white;">
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            Can I use a different set of questions for my community's AppealMod form?
                        </span>
                    </button>
                    <div class="content">
                        <p>
                            We would be happy to explore the possibility of customized questions for your
                            AppealMod process. Please get in touch with us using this webpage. If you've
                            already been in touch with us, please continue the conversation by letting us
                            know about your interest in customized questions.
                        </p>
                    </div>
                </td></tr>
                <tr><td>
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            Is AppealMod AI-based?
                        </span>
                    </button>
                    <div class="content">
                        <p>
                            Not at this point. It simply shares users' responses with the mods,
                            so they can take the final decision.
                        </p>
                    </div>
                </td></tr>
                <tr><td style="background-color: white;">
                    <button class="collapsible w3-text-blue">
                        <span class="arrow-down">&#9654;</span>
                        <span class="faq-caption">
                            How do you know that AppealMod works?
                        </span>
                    </button>
                    <div class="content">
                        <p>
                            Our experiments on Reddit show that up to 7 out of 10 appealing users
                            do not follow through with the full appeals process through AppealMod,
                            even though it only takes 2 -3 minutes to complete.
                            This suggests that a smaller percentage of appealing users are
                            serious enough to fully commit to the appeals process.
                        </p>
                        <p>
                            In the case of appealing users who used toxic language,
                            9 out of 10 did not follow through with the full appeals process through AppealMod.
                        </p>
                        <p>
                            Only those appealing users who have followed the full appeals
                            process through AppealMod will have the opportunity to have their bans reversed.
                        </p>
                        <p>
                            For more details, please read our
                            <a href="https://arxiv.org/pdf/2301.07163.pdf">peer-reviewed research paper</a>.
                        </p>
                    </div>
                </td></tr>
                <!-- Add more rows as needed -->
            </table>
        </div>
    </div>
</div>
