{% load static %}
<div class="w3-margin"">
    <hr style="margin-top: 75px; border-color: black;">

    <!-- Copyright notice -->
    <div class="w3-right " style="margin-top: 20px;">
        <p style="font-size: 16px;">Copyright © 2024 AppealMod. All rights reserved.</p>
    </div>
    <div class="w3-left" style="margin-top: 30px; margin-bottom: 50px;">
        <p style="font-size: 16px;">
            <img src="{% static 'img/how-it-works/appeal-mod-black.png' %}" style="width: 35px;">
            <b>AppealMod</b>
        </p>
    </div>
</div>
