{% load static %}

<div id="HowItWorks">
    <div>
        <div class="center block-info-2">
            Some appeals sent to ModMail are better than others.<br/>
            AppealMod asks a banned user for more info before you look at the appeal.
        </div>
    </div>
    <div class="center first_header" style="padding-top: 50px;">
        <div class="images">
            <img src="{% static 'img/how-it-works/emoji-group-2.png' %}" class="img-emoji-group-2 pos-absolute">
            <img src="{% static 'img/how-it-works/funnel.png' %}" class="img-funnel pos-absolute">
            <img src="{% static 'img/how-it-works/emoji-group-1.png' %}" class="img-emoji-group-1 pos-absolute">
            <img src="{% static 'img/how-it-works/banned.png' %}" class="img-banned pos-absolute">

            <img src="{% static 'img/how-it-works/green-arrow.png' %}" class="img-green-arrow pos-absolute">
            <img src="{% static 'img/how-it-works/red-arrow.png' %}" class="img-red-arrow pos-absolute">

            <div class="div-appeal-mod-form pos-absolute">
                <img src="{% static 'img/how-it-works/form-icon.png' %}" class="img-form-icon">
                <img src="{% static 'img/how-it-works/appeal-mod-black.png' %}" class="img-appeal-mod-black">
                AppealMod form
            </div>
            <div class="div-genuine-fill-it-out pos-absolute">
                <div style="padding-bottom: 10px;">
                    Genuine<br/> appealers<br/> fill it out
                </div>
                <img src="{% static 'img/how-it-works/genuine-fill-it-out.png' %}" class="img-genuine-fill-it-out">
            </div>
            <div class="div-ragers-dont-bother pos-absolute">
                <div style="padding-bottom: 10px;">
                    Ragers don't<br/> bother
                </div>
                <img src="{% static 'img/how-it-works/ragers-dont-bother.png' %}" class="img-ragers-dont-bother">
            </div>
            <div class="div-who-complete-form pos-absolute">
                <div style="padding-bottom: 10px;">
                    Those who complete the form are reviewed by mods.<br/>
                    Your time is better spent.
                </div>
                <img src="{% static 'img/how-it-works/who-complete-form.png' %}" class="img-who-complete-form">
            </div>
        </div>
    </div>
</div>
