{% load static %}

<div class="w3-content block-info-1">
    <div class="block-info-1-text">
        <p class="w3-medium">
            This <a href="https://www.libbyh.com/moderation-research" target="_blank">research project</a>
            is funded by the
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1928434&HistoricalAwards=false" target="_blank">National Science Foundation</a>,
            The expansion of AppealMod on Reddit is supported by the
            <a href="https://csmr.umich.edu/" target="_blank">Center for Social Media Responsibility</a>.
        </p>
    </div>
    <div class="block-info-1-images">
        <a href="https://www.nsf.gov/" target="_blank" class="fa w3-hover-opacity"
           title="National Science Foundation">
            <img src="{% static 'img/logo/logo_NSF.png' %}" height="79px" width="auto">
        </a>
        <a href="https://csmr.umich.edu/" target="_blank" class="fa w3-hover-opacity"
           title="master-science-information">
            <img src="{% static 'img/logo/logo_CSMR.png' %}" height="36px" width="auto">
        </a>
        <a href="https://www.si.umich.edu/" target="_blank"
           class="fa w3-hover-opacity" title="master-science-information">
            <img src="{% static 'img/logo/logo_UMSI.png' %}" height="68px" width="auto" style="padding-left: 8px;">
        </a>
    </div>
</div>
