{% load static %}

<!-- Navigation bar with links -->
<div class="header w3-text-black contain">
    <!-- <h4 class="w3-left " style="margin-top:50px;">AppealMod</h4> -->
    <div class="inline">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logo/logo_AppealMod.png' %}" width="229px" height="56px">
        </a>
    </div>
    <div class="header_menu contain">
        {% if not hide_menu %}
            <a href="#HowItWorks" class="w3-hide-medium w3-hide-small w3-bar-item w3-button w3-mobile w3-right">How it works</a>
            <a href="#About" class="w3-hide-medium w3-hide-small w3-bar-item w3-button w3-mobile w3-right">About</a>
            <a href="https://arxiv.org/pdf/2301.07163.pdf" class="w3-hide-medium w3-hide-small w3-bar-item w3-button w3-mobile w3-right">Publication</a>
            <a href="#FAQs" class="w3-hide-medium w3-hide-small w3-bar-item w3-button w3-mobile w3-right">FAQs</a>
            <a href="#SignUpSection" class="w3-hide-small w3-button w3-mobile w3-right w3-black w3-round signup_button">Sign Up</a>
        {% endif %}
    </div>
</div>
