<!-- Sign up section -->
<div id="SignUpSection" class="w3-content" style="max-width: 800px; margin: auto; margin-top: 200px;">

    <div class="w3-center">
        <h3 class="w3-wide" style="font-family: Calibri;">Sign up for AppealMod (for free!)</h3>
        <p>If you are interested in trying AppealMod in a subreddit that you moderate, please fill out the
            fields below to let us know of your interest. After we receive your information, a member of the
            AppealMod team will be in touch with you shortly.</p>
    </div>

    <!-- Sign up form -->
    <form action="#" method="post" class="w3-container w3-round w3-margin-bottom">
        <div class="w3-row-padding">
            <div class="w3-half">
                <label for="name"></label>
                <input type="text" id="name" name="name" class="w3-input w3-border" placeholder="Name" required>
            </div>
            <div class="w3-half">
                <label for="email"></label>
                <input type="email" id="email" name="email" class="w3-input w3-border" placeholder="Email" required>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half">
                <label for="reddit-username">&nbsp;</label>
                <input type="text" id="reddit-username" name="reddit_username" class="w3-input w3-border"
                       placeholder="Reddit Username" required>
            </div>
            <div class="w3-half">
                <label for="subreddit-url">&nbsp;</label>
                <input type="url" id="subreddit-url" name="subreddit_url" class="w3-input w3-border"
                       placeholder="Subreddit URL" required>
            </div>
        </div>

        <div class="w3-center">
            <input type="submit" value="Sign Up" class="w3-button w3-black w3-round w3-margin-top">
        </div>
    </form>
</div>
