<!-- Sign up section -->
<div id="SignUpSection" class="w3-content">

    <div class="w3-center">
        <h3 class="signup-header">
            Sign up for AppealMod or contact us with more questions
        </h3>
        <p class="signup-text">
            If you are interested in trying AppealMod in a subreddit that you moderate, please fill out the
            fields below to let us know of your interest. After we receive your information, a member of the
            AppealMod team will be in touch with you shortly.
        </p>
    </div>

    <!-- Sign up form -->
    <form action="{% url 'sign-up' %}" method="post" class="w3-container w3-round w3-margin-bottom signup-form">
        {% csrf_token %}

        <div class="validation-errors">
            {{ form.non_field_errors }}
        </div>

        <div class="w3-row-padding">
            <div class="w3-half">
                {{ form.name }}
                <div class="validation-errors">
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="w3-half">
                {{ form.email }}
                <div class="validation-errors">
                    {{ form.email.errors }}
                </div>
            </div>
        </div>

        <div class="w3-row-padding form-group" style="padding-top: 20px;">
            <div class="w3-half">
                {{ form.reddit_username }}
                <div class="validation-errors">
                    {{ form.reddit_username.errors }}
                </div>
            </div>
            <div class="w3-half">
                {{ form.subreddit_url }}
                <div class="validation-errors">
                    {{ form.subreddit_url.errors }}
                </div>
            </div>
        </div>

        <div class="w3-center" style="padding-top: 18px;">
            <input type="submit" value="Sign up your subreddit" class="w3-button w3-black w3-round w3-margin-top">
        </div>
    </form>
</div>
